<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fhir-ai-and-open-api-chain.ZPM">
    <Module>
      <Name>fhir-ai-and-open-api-chain</Name>
      <Version>1.0.1</Version>
      <Description>AI on FHIR Open API spec to query in natural language</Description>
      <Keywords>FHIR,Server</Keywords>
      <Packaging>module</Packaging>
    <SourcesRoot>src</SourcesRoot>
    <Invokes>
    <Invoke Class="fhirtemplate.Setup" Method="SetupFHIRServer" Phase="Activate" When="After" ></Invoke>
    </Invokes>
    <Resource Name="fhirtemplate.PKG"/>
    <FileCopy Name="data/fhir/" Target="${mgrdir}test-data-fhir/"/>
      <CSPApplication
        Url="/fhirUI"
        SourcePath="/fhirUI"
        DeployPath="{$cspdir}/fhirUI"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/fhirUI"
       />
    </Module>
  </Document>
</Export>
